@model web_avanzada_fe.Entities.Empleado

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Iniciar Sesión";
}



@section Styles
{
    <link href="~/css/Login.css" rel="stylesheet" type="text/css" />
}

<div class="login">
    <h1>Iniciar Sesión</h1>
        @using (Html.BeginForm("InicioSesion", "Login", FormMethod.Post, new { id="loginForm"}))
    {
        @Html.TextBoxFor(Model => Model.idEmpleado, new
   {
       id = "cedula",
       name="cedula",
       placeholder = "Cédula",
       required="required",
       onChange="VerificarEspaciosLogin()",
       @onkeypress = "return validarNumeros(event);",
       autocomplete = "off",
       maxlength = 9
   })
        

        @Html.PasswordFor(Model => Model.Contrasenna, new { type = "password", id = "pass",name="pass", placeholder = "Contraseña",onChange="VerificarEspaciosLogin()"})
        
        @Html.Label("", (string)ViewBag.IniciarSesionError, new { @class = "badge badge-danger" })
        <button type="submit" class="btn btn-primary btn-block btn-large">Iniciar Sesión </button>
        
    }
</div>

  @section Scripts
{
     <script src="~/lib/jquery/dist/jquery.min.js"></script>  
 <script src="/lib//jquery-validation/dist/jquery.validate.js"></script>  
  <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>  
     <script src="~/js/login.js" asp-append-version="true"></script>
}