@model web_avanzada_fe.Entities.Empleado

@{
    ViewData["Title"] = "Actualizar Empleado";
}

<h1>Actualizar Empleado</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActualizarEmpleado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idEmpleado" class="control-label"></label>
                <input asp-for="idEmpleado" class="form-control" />
                <span asp-validation-for="idEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenna" class="control-label"></label>
                <input asp-for="Contrasenna" class="form-control" />
                <span asp-validation-for="Contrasenna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreE" class="control-label"></label>
                <input asp-for="NombreE" class="form-control" />
                <span asp-validation-for="NombreE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidosE" class="control-label"></label>
                <input asp-for="ApellidosE" class="form-control" />
                <span asp-validation-for="ApellidosE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idRol" class="control-label">ROL</label>
                @Html.DropDownListFor(model =>model.idRol, ViewBag.listaRoles as SelectList,"Seleccione un rol", new {@class="form-control"})
                <span asp-validation-for="idRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar Empleado" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
