@model web_avanzada_fe.Entities.Mascota

@{
    ViewData["Title"] = "ActualizarMascota";
}

<h1>Actualizar Mascota</h1>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActualizarMascota">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMascota" class="control-label"></label>
                <input asp-for="IdMascota" class="form-control" />
                <span asp-validation-for="IdMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idDueno" class="control-label"></label>
                <input asp-for="idDueno" class="form-control" />
                <span asp-validation-for="idDueno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreM" class="control-label"></label>
                <input asp-for="NombreM" class="form-control" />
                <span asp-validation-for="NombreM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raza" class="control-label"></label>
                <input asp-for="Raza" class="form-control" />
                <span asp-validation-for="Raza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar Mascota" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
