@model web_avanzada_fe.Entities.Mascota

@{
    ViewData["Title"] = "Registrar Mascota";
}


<h1>Registrar Mascota</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarMascota">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idDueno" class="control-label"></label>
              <select asp-for="idDueno" class="form-control" asp-items="@ViewBag.Duennos"></select>                
                <span asp-validation-for="idDueno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreM" class="control-label"></label>
                <input asp-for="NombreM" class="form-control" />
                <span asp-validation-for="NombreM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raza" class="control-label"></label>
                <input asp-for="Raza" class="form-control" />
                <span asp-validation-for="Raza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input type="date" asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Registrar..."  class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>


@*Funciona igual pero con un modal por si se quiere usar*@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
