
<a href="@Url.Action("Index", "Home")" target="_blank">
    <header class="top-header">
    </header>

    <!--dust particel-->
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->
    <section class="error">
        <!-- Content -->
        <div class="error__content">
            <div class="error__message message">
                <h1 class="message__title">Página No Encontrada</h1>
                <p class="message__text">Lo lamentamos, la página que buscaba no se encuentra disponible. No tiene permisos suficientes para acceder a esta página de nuestra veterinaria. 
                Intente de nuevo iniciando sesión.</p>
            </div>
            <div class="error__nav e-nav">
                <a href="@Url.Action("InicioSesion", "Login")" target="_blanck" class="e-nav__link"></a>
            </div>
        </div>
        <!-- END Content -->

    </section>

</a>

@section Styles
{

    <link href="~/css/Error.css" rel="stylesheet" />
}

