@{
    ViewData["Title"] = "Inicio";
}

<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Bienvenido</h3>
            @{
            if (Context.Session.GetString("Token") != null)
            {
                    <h3>@Context.Session.GetString("Nombre")</h3>


                if (Context.Session.GetString("Rol") == "1")
                {
                        <h3>
                            Rol: Administrador
                        </h3>
                }
                else if (Context.Session.GetString("Rol") == "2")
                {
                        <h3>Rol: Veterinario(a) </h3>
                }
                else if (Context.Session.GetString("Rol") == "3")
                {
                        <h3>Rol: Asistente </h3>
                }
              
            }
            }
        </div>
    </section>

    <section>
        <div class="parallax-one">
            <h2 style="color: black">SOBRE NOSOTROS</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>
                <span class="first-character sc">F</span>undado en 2015, Vet Site es un centro de medicina integral dedicado a cualquier tipo de animal y mascota.

                Todas nuestras clínicas están en constante remodelación y mejoramiento, tanto en su infraestructura como en equipos, biblioteca y tecnología. 
                Interesados en brindarle a sus mascotas una buena salud y una mejor calidad de vida, nuestras clínicas cuentan con dos áreas claramente diferenciadas: una para los servicios médicos veterinarios 
                y otra para los servicios no médicos; de esta manera cubrimos tanto las necesidades veterinarias como alimenticias, lúdicas y afectivas para el bienestar de nuestros pacientes.
            </p>

            <p class="line-break"></p>
            <p class="margin-top-10">
              Damos prioridad a la educación y formación de nuestros médicos y del resto del personal. Demostramos un alto nivel de profesionalismo y 
              poseemos unas infraestructuras veterinarias que exceden todas las expectativas de nuestros clientes, proveedores, amigos, colegas, así como visitantes extranjeros, enalteciendo nuestra profesión con hechos.

            ¡Promover el bienestar de la mascota y su familia está permanentemente en nuestras mentes! </p>
        </div>
    </section>

    <section>
        <div class="parallax-two">
            <h2 style="color: black">SERVICIOS QUE OFRECEMOS</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p><span class="first-character ny">C</span>ontamos con la última tecnología para cuidar de tu mascota y solucionar su patología. </p>
            <p class="line-break"></p>
            <p class="margin-top-10">Nuestros servicios médicos son: </p>

            <ul style="font-size:20px; font-family: 'Source Sans Pro', sans-serif;" type="circle">
                <li>Consultas y Vacunas</li>
                <li>Anestesia y Cirugía</li>
                <li>Odontología</li>
                <li>Hospitalización</li>
                <li>MicroChip</li>
                <li>Laboratorio</li>
                <li>Esterilizción</li>
                <li>Aislamiento</li>
            </ul>
            <p class="line-break"></p>
            <p class="margin-top-10">Te ofrecemos algunos de nuestros servicios no médicos para el cuidado de tu mascota.</p>

            <ul style="font-size:20px; font-family: 'Source Sans Pro', sans-serif;" type="circle">
                <li>Peluquería y Baño</li>
                <li>Servicio de Transporte</li>
                <li>Pensión</li>
                <li>Day Care</li>
                <li>Pet Shop</li>
                <li>Trámites para viajes</li>
                <li>Cremación y actos fúnebres</li>
            </ul>
        </div>
    </section>

    <section>
        <div class="parallax-three">
            <h2 style="color: black">NUESTRAS COMODIDADES</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>
                <span class="first-character atw">E</span>n nuestra veterinaria tenemos la mejores comodidades.
                Para la hospitalización, en nuestras clínicas contamos con jaulas individuales e higiénicas, elegidas según el tamaño y necesidad de la mascota, con capacidad de albergar cómodamente a nuestros pacientes con su propio espacio de esparcimiento.

                Además contamos con tres mesas de trabajo para la cura de heridas, fluidoterapia, transfusiones y tratamientos en general.

                Contamos con nuestra propia farmacia, así como con el equipo e instrumentos requeridos para toda situación.
            </p>
            <p>
                Disponemos además de un área para atención de partos con parideras especialmente diseñadas para pacientes de diferentes tamaños.

                Nuestra atención obstétrica incluye calefacción y sistema de circulación de aire, para garantizar la comodidad y seguridad de los recién nacidos.
            </p>

        </div>
    </section>


    <section>
        <div class="parallax-four">
            <h2 style="color: black">CONTÁCTENOS</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>
                <span class="first-character sc">C</span>ontamos con dos centrales para atender a sus mascotas.</p>
                <br />
                <h4 style="text-align: center;">TRES RÍOS</h4>
                <p style="text-align: center;">2,5 km este del Walmart de Pinares de Tres Ríos</p>
                <p  style="text-align: center;">(506)&nbsp; 2428 – 2680</p>
                <p  style="text-align: center;">(506)&nbsp; 2278 – 8581</p>
                <br />
                 <h4 style="text-align: center;">SANTA ANA</h4>
                <p style="text-align: center;">De Cebiche del rey 400m al Este, Carretera Vieja Santa Ana – Escazú</p>
                <p  style="text-align: center;">(506)&nbsp; 2428 – 3551</p>
                <p  style="text-align: center;">(506)&nbsp; 2678 – 1944</p>
            
        </div>
    </section>

</div>

@section Styles
{
    <link href="~/css/Index.css" rel="stylesheet" />
}