@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a nuestra veterinaria!</h1>
   <br />
    <h1>Cédula: @ViewBag.Cedula</h1>
    <h1>Nombre: @ViewBag.Nombre</h1>
    <h1>Rol: @ViewBag.Rol</h1>
</div>
